@charset "UTF-8";
::selection {
  background-color: #3E96A9;
  color: white;
  text-shadow: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
}
img,
fieldset,
form {
  max-width: 100%;
}
input,
textarea {
  max-width: 200px;
}
header,
.main,
footer {
  padding: 0 10px;
}
a {
  text-decoration: none;
  color: #4c595c;
}
a:hover {
  color: #1e2324;
}
header h1 {
  color: #419aad;
  font-family: helvetica;
  font-weight: lighter;
}
header h2 {
  color: #b0b7b9;
  font-weight: normal;
  font-size: 0.9em;
}
header h1,
header h2 {
  text-align: center;
  margin: 0;
}
header hgroup {
  width: 100%;
  margin: 10px auto;
}
header ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
}
header ul a {
  display: block;
  width: 200px;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #dfdfdf;
  color: #b0b7B9;
  border-radius: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
header ul a span {
  margin: 0 2px;
}
header ul a:before {
  font-family: "SSStandard";
  content: '📞';
}
header ul a:hover {
  color: #f56734;
}
header form {
  background-color: #46a1b4;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
header form input {
  background-color: #377F8F;
  -webkit-appearance: none;
  border: 1px solid #54AEC2;
  border-radius: 3px;
  padding: 5px 40px 5px 8px;
  color: #c4e2e9;
  font-weight: lighter;
  min-width: 165px;
  font-size: 0.95em;
}
header form button {
  margin-left: -35px;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
header form button span {
  display: block;
  position: absolute;
  top: 5px;
}
header form button span::before {
  color: #c4e2e9;
}
.main:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.main form {
  background-color: #e6e6e6;
  margin: 20px 0;
  padding-bottom: 20px;
  border-radius: 0 0 5px 5px;
}
.main form hgroup {
  background-color: #46a1b4;
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.main form hgroup:after {
  border-color: #bc390b;
  background-color: #f35f2a;
  content: "lub";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
  height: 35px;
  line-height: 35px;
  position: absolute;
  left: 50%;
  margin-left: -17.5px;
  bottom: -20px;
  display: inline-block;
  border-width: 2px 0 0 2px;
  border-radius: 35px;
  border-style: solid;
  width: 35px;
  color: white;
}
.main form h1,
.main form h2 {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: white;
}
.main form h2 a {
  color: white;
  font-weight: lighter;
  position: relative;
}
.main form h2 a:before {
  font-family: "SSStandard";
  content: '📞';
  border-color: #266674;
  background-color: #2f7e8f;
  font-size: 0.85em;
  padding-top: 5px;
  padding-right: 1px;
  height: 30px;
  display: inline-block;
  border-width: 2px 0 0 2px;
  border-radius: 35px;
  border-style: solid;
  width: 34px;
}
.main form h2 a span {
  margin: 0 3px;
}
.main form fieldset {
  padding: 5px 15px;
  margin: 0;
  border: none;
}
.main form fieldset input:not([type="date"]):not([type="time"]),
.main form fieldset textarea {
  width: 96%;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px #c4c4c4;
  -moz-box-shadow: 1px 1px 2px #c4c4c4;
  box-shadow: 1px 1px 2px #c4c4c4;
  -webkit-appearance: none;
}
.main form fieldset input,
.main form fieldset textarea,
.main form fieldset select {
  margin: 0 auto;
  display: block;
}
.main form button {
  display: block;
  background-color: #d74f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f56734), to(#ba3809));
  background: -webkit-linear-gradient(top, #f56734, #ba3809);
  background: -moz-linear-gradient(top, #f56734, #ba3809);
  background: -ms-linear-gradient(top, #f56734, #ba3809);
  background: -o-linear-gradient(top, #f56734, #ba3809);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  text-shadow: 1px 1px 0px #AE421B;
  font-weight: lighter;
  border: none;
  margin: 20px auto;
}
.main form button:hover {
  background-color: #d04d1e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f56734), to(#ab3308));
  background: -webkit-linear-gradient(top, #f56734, #ab3308);
  background: -moz-linear-gradient(top, #f56734, #ab3308);
  background: -ms-linear-gradient(top, #f56734, #ab3308);
  background: -o-linear-gradient(top, #f56734, #ab3308);
}
.main form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.main form label.focusable:active,
.main form label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.main #slider-wrapper {
  position: relative;
}
.main #slider-wrapper #slider {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.main #slider-wrapper #slider li {
  display: inline;
}
.main #slider-wrapper #slider img {
  min-width: 530px;
}
.main #slider-wrapper .appointment {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: block;
  background-color: #d74f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#f56734), to(#ba3809));
  background: -webkit-linear-gradient(top, #f56734, #ba3809);
  background: -moz-linear-gradient(top, #f56734, #ba3809);
  background: -ms-linear-gradient(top, #f56734, #ba3809);
  background: -o-linear-gradient(top, #f56734, #ba3809);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  text-shadow: 1px 1px 0px #AE421B;
  font-weight: lighter;
}
.main #slider-wrapper .appointment:hover {
  background-color: #d04d1e;
  background: -webkit-gradient(linear, left top, left bottom, from(#f56734), to(#ab3308));
  background: -webkit-linear-gradient(top, #f56734, #ab3308);
  background: -moz-linear-gradient(top, #f56734, #ab3308);
  background: -ms-linear-gradient(top, #f56734, #ab3308);
  background: -o-linear-gradient(top, #f56734, #ab3308);
}
.main .calendar {
  display: table;
  margin: 20px auto;
}
.main .calendar h2 {
  margin: 0;
  font-size: 1.0em;
  color: #555;
  font-weight: normal;
}
.main .calendar .day {
  display: table-cell;
  text-align: center;
}
.main .calendar .hour a,
.main .calendar .hour span {
  color: white;
  display: block;
  padding: 5px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 1px 0 0;
  font-size: 0.9em;
  text-align: center;
}
.main .calendar .hour.free {
  background-color: #51b749;
}
.main .calendar .hour.free:hover {
  background-color: #49a541;
}
.main .calendar .hour.taken {
  background-color: #DC2127;
}
footer {
  background-color: #1c1e1f;
  min-height: 50px;
  color: #808080;
  text-align: center;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
footer a {
  color: #4c595c;
}
footer a:hover {
  color: white;
}
footer small,
footer address {
  display: inline-block;
  font-size: 0.9em;
  font-style: normal;
  line-height: 2em;
  margin: 0 auto;
}
