{% extends "main.html" %}

{% block content %}
	<table>
		<thead>
			<th>Nazwa</th>
			<th>Data</th>
			<th>Godzina</th>
			<th>Opis</th>
			<th>Status</th>
		</thead>
		{% for o in appointments %}
		<tr>
			<td><a href="/appointments/{{ o.id }}/">{{ o.title }}</a></td>
			<td>{{ o.date }}</td>
			<td>{{ o.time }}</td>
			<td>{{ o.notes }}</td>
			<td>
				{% if o.status == 0 %}
					Niepotwierdzone
				{% elif o.status == 1 %}
					Potwierdzone
				{% elif o.status == 99 %}
					Anulowane
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
