{% extends "main.html" %}

{% block content %}
	<div class="calendar">
		{% for i, days in week.items %}
			<div class="day">
				<h2>{{ i|slice:"8:10" }}.{{ i|slice:"5:7" }}</h2>
				{% for j, hours in days.items %}
					{% if hours %}
						<div class="free hour">
							<a href="/appointments/create/{{ i }}/{{ hours|date:"Hi" }}">{{ hours|date:"H:i" }}</a>
						</div>
					{% else %}
						<div class="taken hour"><span>zajęty</span></div>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
