{% extends "main.html" %}
{% load form_extras %}

{% block content %}
	<table>
		<thead>
			<th>Data</th>
			<th>Godzina</th>
			<th>Opis</th>
			<th>Informacje od Lekarza</th>
			<th>Status</th>
		</thead>
		{% for o in appointments %}
		<tr class="{% if o.date|isInThePast:o.time %}in-the-past{% else %}in-the-future{% endif %}">
			<td>
				<a href="/appointments/id/{{ o.slug }}/">{{ o.date }}</a>
			</td>
			<td>{{ o.time }}</td>
			<td>{{ o.notes }}</td>
			<td>{{ o.doctor_notes }}</td>
			<td>
				{% if o.status == 0 %}
					Niepotwierdzone
				{% elif o.status == 1 %}
					Potwierdzone
				{% elif o.status == 99 %}
					Anulowane
				{% endif %}
			</td>
			<td>
				{% if o.status == 0 or link %}
					{% if not o.date|isInThePast:o.time %}<a href="/appointments/delete/{{ o.id }}/">Odwołaj</a>{% endif %}
				{% endif %}
			</td>
			<td>
				{% if not o.date|isInThePast:o.time %}<a href="/appointments/edit/{{ o.id }}/">Edytuj</a>{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
