{% extends "main.html" %}
{% load form_extras %}

{% block content %}
	<table class="appointment-list">
		<thead>
			{% if admin %}
				<th>Pacjent</th>
			{% endif %}
			<th>Data</th>
			<th>Godzina</th>
			<th>Opis</th>
			<th>Informacje od Lekarza</th>
			<th>Status</th>
		</thead>
		{% for o in appointments %}
		<tr class="{% if o.date|isInThePast:o.time %}in-the-past{% else %}in-the-future{% endif %}">
			{% if admin %}
				<td>{{ o.author.username }}</td>
			{% endif %}
			<td>
				<a href="/appointments/id/{{ o.slug }}/">{{ o.date }}</a>
			</td>
			<td>{{ o.time|date:"H:i" }}</td>
			<td>{{ o.notes|linebreaksbr }}</td>
			<td>{{ o.doctor_notes|linebreaksbr }}</td>
			<td>
				{% if o.status == 0 %}
					Niepotwierdzone
				{% elif o.status == 1 %}
					Potwierdzone
				{% elif o.status == 99 %}
					Anulowane
				{% endif %}
			</td>
			{% if o.status == 0 or admin %}
				<td>
					{% if not o.date|isInThePast:o.time %}<a href="/appointments/delete/{{ o.id }}/">Odwołaj</a>{% endif %}
				</td>
			{% endif %}
			<td>
				{% if not o.date|isInThePast:o.time %}<a href="/appointments/edit/{{ o.id }}/">Edytuj</a>{% endif %}
			</td>
			{% if admin %}
				<td>
					{% if not o.date|isInThePast:o.time %}<a href="/appointments/confirm/{{ o.slug }}/">Potwierdz</a>{% endif %}
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
{% endblock %}
