{% extends "main.html" %}
{% block content %}
	<div id="slider-wrapper">
		<ul id="slider">
			<li><img src="/static/images/caring-staff.jpg" alt=""></li>
			<li><img src="/static/images/clinical.jpg" alt=""></li>
			<li><img src="/static/images/couseling.jpg" alt=""></li>
			<li><img src="/static/images/dental.jpg" alt=""></li>
			<li><img src="/static/images/doctors.jpg" alt=""></li>
		</ul>
		<a class="appointment" href="/appointments/calendar/{% now "Y-m-d" %}">Zarejestruj się do lekarza teraz!</a>
	</div>
{% endblock %}